<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha intentado cambiar tu contraseña.</p>

<p>para cambiarla ingresa aqui: <a href="<%=ENV.fetch('PASSWORD_RECOVERY_URL','localhost:3000')%>?token=<%=@token%>">Cambiar mi contraseña</a></p>

<p>Si tu no has pedido este cambio, ignora este mensaje.</p>
<p>Tu contraseña no se cambiará hasta que ingreses al link.</p>
